body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand SC', cursive;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #161C19;
}
.header{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 10vh;
}
.header img, .header li{
    cursor: pointer;
}
.header a, .header a:visited{
    text-decoration: none;
    color: #7EE048;

}
.header__mobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #161C19;
    border-bottom: 1px solid #DAECD8;
    height: inherit;
    .header__logo--mobile{
        width: 60px;
        margin: auto 24px;
        img{
            width: 100%;
            padding-top: 5px;
        }
    }
    #menu-mobile{
        height: 1.5em;
        width: 2em;
        outline: none;
        border: none;
        background: none;
        padding: 0;
        position: relative;
        cursor: pointer;
        margin: auto 24px;
    
        span{
            position: absolute;
            width: 100%;
            height: 16%;
            background-color: #7EE048;
            left: 0;
            transition: all .3s linear;
            transform-origin: 50% 50%;
    
            &:first-child{
                top:0;
            }
            &:nth-child(2){
                top: 43.5%;
            }
            &:last-child{
                top: 85%;
            }
        }
    }
    .nav__mobile{
        width: 100%;
        height: 40vh;
        z-index: 5;
        position: absolute;
        right: -100%;
        background-color: #161C19;
        transition: transform 260ms ease-in-out;
        margin-top: 71px;
        .nav__mobile--list{
            list-style-type: none;
            color: #7EE048;
            font-size: 1.8em;
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .list__element{
                height: 33%;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                border-bottom: 2px solid #7EE048;
            }
        }
    }
}

.transition{
    margin-top: 9px;
    transform: rotate(135deg);
}
.transition2{
    transform: scale(0);
}
.transition3{
    margin-top: -8px;
    transform: rotate(-135deg);
}
.header__desktop{
    display: none;
}
.appear{
    transform: translateX(-100%);
}
/*
.main{
    height: 100vh;
    background: #161C19;
    padding-top: 70px;
    .background{
        display: flex;
        position: relative;
        img{
            width: 100%;
            transition: all ease-in-out 350ms;
            position: absolute;
        }
        .img-desktop{
            right: -100%;
        }
    }
}
*/
.card {
    width: 50%;
    height: 20vh;
    border: 1px solid #7EE048;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    box-shadow: inset 2px 2px 10px 0 #daecd8, inset -2px -2px 10px 0 #daecd8;
    .card--name{
        padding: 5px;
        border-radius: 20px;
        text-align: center;
        background-color: #7EE048;
        color: #161C19;
        width: 75%;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .button {
        width: 80%;
        height: 20%;
        outline: none;
        border: none;
        background: #DAECD8;
        border-radius: 20px;
        color: #161C19;
        font-weight: bold;
    }
}
main.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all ease-in-out 350ms;
    margin: 0 auto;
    height: 80vh;
    padding-top: 10vh;
    overflow: auto;
}
.footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #161C19;
    position: fixed;
    bottom: 0;
    #season {
        padding: 5px;
        border-radius: 15px;
        color: #161C19;
        background: #7EE048;
        border: none;
        outline: none;
    }
}
.characters{
    position: fixed; /* Stay in place */
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    transform: translateX(-100%);
    height: 100%; /* Full height */
    width: 40%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all ease-in-out 350ms;
    padding-top: 10vh;
    .description{
        background-color: #161C19;
        margin: 10px 5px;
        border: 1px solid #888;
        width: 90%;
        text-align: center;
        color: #7EE048;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 23vh;
        justify-content: space-around;
        img{
            width: 50%;
            border-radius: 50%;
        }
    }
}

.popup {
    display: block;
    transform: translateX(0);
  }  
.slide-right{
    width: 60%;
    padding-left: 40%;
}
@media all and (min-width: 600px){
    .header__mobile{
        display: none;
    }
    .header__desktop{
        height: 12vh;
        display: flex;
        justify-content: space-between;
        background: #161C19;
        border-bottom: 2px solid #DAECD8;
        .header__logo{
            width: 20%;
            padding-top: 3px;
            margin: 0 24px;
            img{
                width: 80px;
                padding-top: 3px;
            }
        }
        .nav{
            width: 65%;
            .nav__list{
                padding: 0;
                margin: 0;
                display: flex;
                width: 100%;
                justify-content: space-around;
                list-style-type: none;
                height: 100%;
                align-items: center;
                font-size: 1.3em;
                color: #7EE048;
            }
        }
    }
    .card{
        width: 35%;
        height: 25vh;
    }
    .slide-right {
        width: 70%;
        padding-left: 30%;
    }
    .characters{
        width: 30%;
    }
}
@media all and (min-width: 1000px){
    .card{
        width: 30%;
        height: 25vh;
    }
    .characters{
        width: 25%;
        padding-top: 12vh;
    }
    .slide-right{
        width: 75%;
        padding-left: 25%;
    }
}
@media all and (min-width: 1200px){
    .card{
        width: 20%;
    }
    .characters{
        width: 15%;
    }
    .slide-right{
        width: 85%;
        padding-left: 15%;
    }
}
